<footer>
  <div class="footer-content">
    <div class="social-links">
      <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
      <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
      <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
    </div>

    <div class="footer-sections">
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/books/shopnow">Shop Now</a></li>
          <li><a href="/userpage">Dashboard</a></li>
          <li><a href="/sell">Sell Books</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Support</h3>
        <ul>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/returns">Return Policy</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>About Us</h3>
        <ul>
          <li><a href="/about">Our Story</a></li>
          <li><a href="/careers">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>

  <p class="copyright">© 2025 Your Company. All rights reserved.</p>
</footer>
